@using Shared.Contracts.Response;
@model TokenViewModel;
@{
    ViewData["Title"] = "My saved cards";
}


<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">My saved cards</h2>
        </div>
    </div>
    <br /><br />


    <table class="table table-table-bordered table-striped" style="width:100%">
        <thead>
            <tr>
                <th>
                    Id
                </th>
                <th>
                    Brand
                </th>
                <th>
                    Card number
                </th>
                <th>
                    Expiration Date
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var token in Model.Tokens)
            {
                <tr>
                    <td width="40%">
                        @token.TokenId
                    </td>
                    <td width="40%">
                        @if (token.PaymentProductId.HasValue)
                        {
                            @Model.PaymentProductMapping[token.PaymentProductId.Value]
                        }
                        else
                        {
                            <div>Oops ! Your card brand seems to be missing.</div>
                        }
                    </td>
                    <td width="40%">
                        @token.CardNumber
                    </td>
                    <td width="50%">
                        @token.ExpiryDate
                    </td>
                    <td>
                        <form method="post" asp-controller="Token" asp-action="RemoveToken" asp-route-tokenId="@token.TokenId">
                            <input type="hidden" name="tokenId" value="@token.TokenId" />
                            <button type="submit" class="btn btn-secondary" style="width:150px;">Delete your card</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>



    </table>

</div>