@using Shared.Contracts.Response;
@model ProductResponseDto[]
@{
    ViewData["Title"] = "Index";
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Product List</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Product" asp-action="Create" class="btn btn-primary" id="btnCreateProduct"><i class="bi bi-bookmark-plus"></i>&nbsp; Create new product</a>
        </div>
    </div>
    <br /><br />


    <h1>Index Product</h1>
    <table class="table table-table-bordered table-striped" style="width:100%">
        <thead>
            <tr>
                <th width="10%">
                    Product Id
                </th>
                <th width="50%">
                    Product Name
                </th>
                <th width="10%">
                    Product Reference
                </th>
                <th width="10%">
                    Product Price
                </th>
                <th width ="10%">
                    Product Quantity
                </th>
                <th width="10%">
                    Product Category
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model)
            {
                <tr>
                    <td width="10%">
                        @product.ProductId
                    </td>
                    <td width="50%">
                        @product.ProductName
                    </td>
                    <td width="10%">
                        @product.ProductReference
                    </td>
                    <td width="10%">
                        @product.ProductPrice
                    </td>
                    <td width="10%">
                        @product.ProductQuantity
                    </td>
                    <td width="10%">
                        @product.CategoryId
                    </td>
                    <td>
                        <div class="w-75 btn-group" role="group" width="10%">
                            <a asp-controller="Product" asp-action="Edit" asp-route-id="@product.ProductId" class="btn btn-secondary"><i class="bi bi-pencil"></i>&nbsp; Edit</a>
                        </div>
                    </td>
                    <td>
                        <div class="w-75 btn-group" role="group" width="10%">
                            <a asp-controller="Product" asp-action="Delete" asp-route-id="@product.ProductId" class="btn btn-secondary"><i class="bi bi-trash3"></i>&nbsp; Delete</a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>

