@using Shared.Contracts.Response;
@model ProductResponseDto[]


<form method="post">
    <br />
    @if (Model.Count() > 0)
    {

        <div class="backgroundWhiteBorder">
            <div class="container">
                <div class="card">
                    <div class="card-header bg-dark text-light ml-0 d-flex justify-content-between align-items-center">
                        <div class="col-6 ">
                            <i class="bi bi-cart-check-fill"></i> &nbsp;
                            Shopping Cart
                        </div>
                        <div class="col-6 text-end">
                            <a asp-controller="Product" asp-action="Index" class="btn btn-warning btn-sm">Continue Shopping</a>
                        </div>
                    </div>

                    <div class="card-body">
                        @foreach (var item in Model)
                        {
                            <div class="row">
                                <div class="d-none d-lg-block col-lg-1 text-center py-2">
                                    <img src="~/images/@(item.ProductId).jpg" class="rounded" width="100%" />
                                </div>
                                <div class="col-12 text-sm-center col-lg-6 text-lg-left">
                                    <h5><strong>@item.ProductName</strong></h5>
                                </div>
                                <div class="col-12 text-sm-center col-lg-5 text-lg-right row">
                                    <div class="col-4 text-md-right" style="padding-top:5px;">
                                        <h6><strong>EUR @item.ProductPrice<span class="text-muted"> x <span id="itemQuantity_@item.ProductId">0</span> </span></strong></h6>
                                    </div>
                                    <div class="col-6 col-sm-4 col-lg-6">
                                        <div class="float-right mx-1 m-1">
                                            <button onClick="addToCart('@item.ProductId', '@item.ProductPrice', 1)" class="btn btn-primary" style="width: 140px;"><i class="bi bi-plus"></i>Add</button>
                                        </div>
                                        <div class="float-right mx-1 m-1">
                                            <button onClick="removeFromCart('@item.ProductId', '@item.ProductPrice', 1)" class="btn btn-primary" style="width: 140px;"><i class="bi bi-dash"></i>Remove</button>
                                           
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr />
                        }

                        <div class="row">
                            <div class="col-12 col-md-6 offset-md-6 col-lg-4 offset-lg-8 pr-4">
                                <ul class="list-group">
                                    <li class="list-group-item d-flex justify-content-between bg-light">
                                        <span class="text-info"> Total (EUR)</span>
                                        <strong class="text-info">EUR <span id="basketItemPriceBody">Total Price</span></strong>
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div>

                    <div class="card-footer">
                        <div class="card-footer row">

                            <div class="col-sm-12 col-lg-4 col-md-6 offset-lg-8 offset-md-6 d-flex justify-content-end">
                                <button onclick="EmptyBasket()" asp-controller="Product" asp-action="Index"class="btn btn-danger">Empty basket</button>
                                <span style="margin-left: 10px;"></span>
                                <button onclick="SendDataToSummary()" class="btn btn-secondary">Summary</button>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <div>There are no items in the shopping cart.</div><br />
        <div class="col-6 text-right">
            <a asp-controller="Product" asp-action="Index" class="btn btn-outline-info btn-sm">Continue Shopping</a>
        </div>
    }
</form>


