@using Shared.Contracts.Response;
@model UserResponseDto[]
@{
    ViewData["Title"] = "Index";
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Users List</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="User" asp-action="Create" class="btn btn-primary"><i class="bi bi-bookmark-plus"></i>&nbsp; Create new user</a>
        </div>
    </div>
    <br /><br />


<h1>Index Category</h1>
<table class ="table table-table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                User Name
            </th>
            <th>
                Email
            </th>
            <th>
                Is Active ?
            </th>
            <th>
                Password (hidden) ?
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
    {
        <tr>
            <td width="10%">
                @user.Id
            </td>
            <td width="40%">
                @user.Name
            </td>
            <td width="40%">
                @user.Email
            </td>
            <td width="10%">
                @user.IsActive
            </td>
            <td width="10%">
                @user.Password
            </td>
            <td>
                <div class="w-75 btn-group" role="group">
                    <a asp-controller="User" asp-action="Edit" asp-route-id="@user.Id" class="btn btn-secondary"><i class="bi bi-pencil"></i>&nbsp; Edit</a>
                </div>
            </td>
            <td>
                <div class="w-75 btn-group" role="group">
                    <a asp-controller="User" asp-action="Delete" asp-route-id="@user.Id" class="btn btn-secondary"><i class="bi bi-trash3"></i>&nbsp; Delete</a>
                </div>
            </td>
        </tr>
    }
    </tbody>
 </table>   
    
</div>

